.projects_section {
  background-color: rgb(248, 248, 248);
  margin-top: -183px;
}

.project_section_container {
  width: 1100px;
  margin: auto;
  padding: 55px 0px 40px 0px;
  color: #383838;
  font-family: "poppins", sans-serif;
}
.project_container {
  margin-top: 20px;
}
.project_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* background-color: rgb(241, 241, 241); */
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  /* border: 1px solid gainsboro; */
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px; */
  /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px; */
  border-radius: 7px;
  padding: 10px 10px 10px 10px;
  margin-bottom: 25px;
  transition: all .3s;
}
.project_content:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.project_content > *:last-child {
  grid-column: 2 / span 2;
}


.project_img {
  width: 550px;
  border: 1px solid rgb(255, 255, 255);
  overflow: hidden;
  border-radius: 7px;
  position: relative;
}

.img {
  transform: scale(1.1);
  transition: all 0.3s;
}
.project_content:hover .img{
  transform: scale(1.2);
}
.project_img::before {
  position: absolute;
  top: 0;
  left: -75%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0.051) 0%,
    rgba(214, 214, 214, 0.091) 100%
  );
  background: linear-gradient(
    to right,
    rgba(223, 223, 223, 0.075) 0%,
    rgba(230, 230, 230, 0.069) 100%
  );
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
.project_img:hover::before {
  -webkit-animation: shine 0.9s;
  animation: shine 0.9s;
}
@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}



.project_desc_content {
  padding: 5px 15px 15px 10px;
  margin: 0px 0px 6px 10px;
}
.project_desc_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 20px;
}
.description {
  font-size: 14px;
  line-height: 1.5em;
}
.projectTools {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  margin-top: 10px;
  text-align: center;
}

.projectTools p {
  /* box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px; */
  /* box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.02),
    0px 0px 0px 1px rgba(27, 31, 35, 0.15); */
    /* box-shadow: 0px 1px 1px rgba(9, 30, 66, 0.25), 0px 0px 1px 1px rgba(9, 30, 66, 0.13); */
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.05), inset 0px 0px 0px 1px rgba(209, 213, 219,1);
  padding: 3px 7px;
  font-size: 14px;
}
.link a {
  color: #5e5e5e;
}
